01-xml-and-json-introduction/xml/purchase-order.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="urn:po"
  xmlns="urn:po"
  elementFormDefault="qualified">

  <xs:element name="purchaseOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="orderNumber" type="xs:string"/>
        <xs:element name="amount" type="xs:decimal"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
